sap.ui.define(
  [
    "sap/ui/core/UIComponent",
    "sap/ui/model/odata/ODataModel",
    "sap/ui/model/resource/ResourceModel",
    "sap/m/MessageToast"
  ],
  function(UIComponent, ODataModel, ResourceModel, MessageToast) {
    "use strict";
    return UIComponent.extend("niepce.Component", {
      metadata: { manifest: "json" },
      id: "niepce.Component",
      name: "niepce.Component",

      init: function() {
        // call the init function of the parent
        UIComponent.prototype.init.apply(this, arguments);

        // set OData model

        var mParameters = new Map();
        mParameters.json = true;
        mParameters.tokenHandling = true;
        mParameters.disableHeadRequestForToken = false;

        mParameters.useBatch = true;
        mParameters.defaultBindingMode = "TwoWay";
        mParameters.serviceUrl = "http://<%= @host %>:9494/odata";
        var oModel = new sap.ui.model.odata.v2.ODataModel(mParameters);
        oModel.setTokenHandlingEnabled(true);
        
        this.setModel(oModel);

        // set i18n model
        var i18nModel = new ResourceModel({ bundleName: "niepce.i18n.i18n" });

        this.setModel(i18nModel, "i18n");

        // create the views based on the url/hash
        this.getRouter().initialize();
      }
    });
  }
);
