<!DOCTYPE html>
<html>
  <head>
    <title>Photo management</title>
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <style type="text/css"> 
      .niepceImagesGL {background-color: #ffffff !important ; }
      .niepceImagesGLI {box-shadow: none !important ; }
    </style>

    <script id="sap-ui-bootstrap" 
      type="text/javascript"
      src="<%= @resources %>"
      data-sap-ui-theme="sap_belize"
      data-sap-ui-libs="sap.m"
      data-sap-ui-bindingSyntax="complex"
      data-sap-ui-compatVersion="edge"
      data-sap-ui-async="true"
      data-sap-ui-resourceroots='{"niepce": "./"}'       >
    </script>
  
        <script>
           sap.ui.getCore().attachInit( function () {
             new sap.m.Shell({
                 app : new sap.ui.core.ComponentContainer({
                     name : "niepce",
                     height : "100%"  })
              }).placeAt("content");
           });
        </script>
  </head>
  <body class="sapUiBody" id="content" ></body>
</html>
